# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
.project
.classpath
.c9/
*.launch
.settings/
xcuserdata/
*.sublime-workspace
.vscode/

# Dependencies sources
node_modules/